@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .new-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .new-scrollbar::-webkit-scrollbar-track {
    background: rgba(241, 255, 255, 0.101);
    border-radius: 8px;
  }

  .new-scrollbar::-webkit-scrollbar-thumb {
    background: #161c2b;
    border-radius: 8px;
  }
}

* > * {
  font-family: 'JetBrains Mono', monospace;
}

html {
  background-color: #0a192f;
  /* background-image: url(assets/bg.png);
  background-position: center;
  background-size: cover; */
}

nav {
  background-color: #000000;
}

header {
  background-color: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bio {
  border-radius: 7%;
  border: 2px solid #34837e;
  padding: 1rem;
}

.bio2 {
  background-image: url(assets/bg.png);
}

.fira {
  font-family: 'Fira Code', sans-serif;
}

.green-text {
  color: #34837e;
}

.pink-text {
  color: #8e7c93;
}

.card {
  /* background: rgb(36,45,68);
  background: linear-gradient(133deg, rgba(36,45,68,1) 0%, rgba(37,49,71,1) 5%, rgba(37,52,73,1) 8%, rgba(38,57,76,1) 14%, rgba(39,62,79,1) 20%, rgba(40,69,84,1) 28%, rgba(41,73,87,1) 33%, rgba(42,77,90,1) 38%, rgba(42,79,91,1) 40%, rgba(52,131,126,1) 100%);  text-align: center; */
  text-align: center;
  color: white;
  border-radius: 7%;
  border: 2px solid #34837e;
}

.card-green {
  /* background: rgb(36,45,68);
  background: linear-gradient(133deg, rgba(36,45,68,1) 0%, rgba(37,49,71,1) 5%, rgba(37,52,73,1) 8%, rgba(38,57,76,1) 14%, rgba(39,62,79,1) 20%, rgba(40,69,84,1) 28%, rgba(41,73,87,1) 33%, rgba(42,77,90,1) 38%, rgba(42,79,91,1) 40%, rgba(52,131,126,1) 100%);  text-align: center; */
  text-align: center;
  color: white;
  border-radius: 7%;
  border: 2px solid #34837e;
  background-color: #34837e;
}

.links:hover {
  color: #37424c;
  text-shadow: 1px 1px 1px rgb(217, 217, 217);
}

.button {
  background: #14141f;
  border-radius: 7%;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  outline: 0 solid transparent;
  padding: 1vh 0;
  margin: 1vh 1vw;
  width: 10vw;
}

.buttons {
  text-align: center;
  margin: 2vw 0;
}

.ciao {
  font-weight: bold;
}

.subtitle {
  display: block;
  font-size: 2rem;
  text-wrap: balance;
}

.growing {
  transition: flex-grow 0.3s;
}

.growing:hover {
  border-color: #ffffff;
  color: #ffffff;
  flex-grow: 0.2;
}

.growing:not(:hover) {
  flex-grow: 0;
}
