@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .new-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .new-scrollbar::-webkit-scrollbar-track {
    background: rgba(241, 255, 255, 0.675);
  }

  .new-scrollbar::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 53%, 0.144);
    border-radius: 4px;
  }
}

*>* {
 font-family: "JetBrains Mono", sans-serif;
}

html {
  background-image: url(assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fira {
  font-family: "Fira Code", sans-serif;
}

.green-text {
  color: #34837e;
}

.pink-text {
  color: #8E7C93
}

.card {
  background: rgb(36,45,68);
  background: linear-gradient(133deg, rgba(36,45,68,1) 0%, rgba(37,49,71,1) 5%, rgba(37,52,73,1) 8%, rgba(38,57,76,1) 14%, rgba(39,62,79,1) 20%, rgba(40,69,84,1) 28%, rgba(41,73,87,1) 33%, rgba(42,77,90,1) 38%, rgba(42,79,91,1) 40%, rgba(52,131,126,1) 100%);  text-align: center;
  color: white;
  border-radius: 7%;
  border: 1px solid #34837e;
}

.links:hover {
  color: #37424c;
  text-shadow: 1px 1px 1px rgb(217, 217, 217);
}

.button {
  background: #14141f;
  border-radius: 7%;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  outline: 0 solid transparent;
  padding: 1vh 0;
  margin: 1vh 1vw;
  width: 10vw;;
}

.buttons {
  text-align: center;
  margin: 2vw 0;
}

.ciao {
  font-weight: bold;
}

.mio-nome {
  display: inline-block;
  margin-left: 1rem;
}

.subtitle {
  display: block;
  font-size: 2rem;
  text-wrap: balance;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}